body {
    font-family: sans-serif;
    padding-top: 70px;
    height: 100%;
    background-color: #FFFFFF;
}

.log {
    font-family: "Courier New", Courier, monospace
}

.callout {
  margin: 0 0 20px;
  padding: 20px;
  border-left: 3px solid #eee;
  overflow: auto;
}
.callout h1 {
  font-size: 16pt;
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.callout-error {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.callout-error h1 {
  color: #b94a48;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h1 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #eeeeee;
  border-color: #cccccc;
}
.callout-info h1 {
  color: #000000;
}

.status {
    text-align: center;
}

/* Listing */
.panel tr th {
    width: 60%
}

#footer div {
    margin-top: 50px;
    font-size: 10pt;
    text-align: center;
}

.document tr th, .document tr td {
    width: 16%;
}

.navbar-brand{
    display: block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: left center ;
    padding-left: 45px;
    height: 50px;
}
